option_settings:
  aws:elasticbeanstalk:customoption:
    EfsFileSystemName: "EB-EFS-FileSystem"
    EfsMountDir: "/efs"
    EfsMountTargetSecurityGroupVpcId: "vpc-xxxxxxxx"
    EfsMountTargetASubnetId: "subnet-xxxxxxxx"
    EfsMountTargetBSubnetId: "subnet-xxxxxxxx"
    EfsMountTargetCSubnetId: "subnet-xxxxxxxx"
#    EfsMountTargetDSubnetId: ""
#    EfsMountTargetESubnetId: ""
#    EfsMountTargetFSubnetId: ""



# Apache License 2.0
# see also: https://github.com/awslabs/elastic-beanstalk-docs/blob/master/configuration-files/aws-provided/instance-configuration/storage-efs-createfilesystem.config
