Resources:
  EfsMountTargetA:
    Type: AWS::EFS::MountTarget
    Properties:
      FileSystemId: { "Ref" : "EfsFileSystem" }
      SecurityGroups:
        - { "Ref" : "EfsMountTargetSecurityGroup" }
      SubnetId: { "Fn::GetOptionSetting" : { "OptionName" : "EfsMountTargetASubnetId" } }

  EfsMountTargetB:
    Type: AWS::EFS::MountTarget
    Properties:
      FileSystemId: { "Ref" : "EfsFileSystem" }
      SecurityGroups:
        - { "Ref" : "EfsMountTargetSecurityGroup" }
      SubnetId: { "Fn::GetOptionSetting" : { "OptionName" : "EfsMountTargetBSubnetId" } }

  EfsMountTargetC:
    Type: AWS::EFS::MountTarget
    Properties:
      FileSystemId: { "Ref" : "EfsFileSystem" }
      SecurityGroups:
        - { "Ref" : "EfsMountTargetSecurityGroup" }
      SubnetId: { "Fn::GetOptionSetting" : { "OptionName" : "EfsMountTargetCSubnetId" } }

#  EfsMountTargetD:
#    Type: AWS::EFS::MountTarget
#    Properties:
#      FileSystemId: { "Ref" : "EfsFileSystem" }
#      SecurityGroups:
#        - { "Ref" : "EfsMountTargetSecurityGroup" }
#      SubnetId: { "Fn::GetOptionSetting" : { "OptionName" : "EfsMountTargetDSubnetId" } }

#  EfsMountTargetE:
#    Type: AWS::EFS::MountTarget
#    Properties:
#      FileSystemId: { "Ref" : "EfsFileSystem" }
#      SecurityGroups:
#        - { "Ref" : "EfsMountTargetSecurityGroup" }
#      SubnetId: { "Fn::GetOptionSetting" : { "OptionName" : "EfsMountTargetESubnetId" } }

#  EfsMountTargetF:
#    Type: AWS::EFS::MountTarget
#    Properties:
#      FileSystemId: { "Ref" : "EfsFileSystem" }
#      SecurityGroups:
#        - { "Ref" : "EfsMountTargetSecurityGroup" }
#      SubnetId: { "Fn::GetOptionSetting" : { "OptionName" : "EfsMountTargetFSubnetId" } }

  EfsFileSystem:
    Type: AWS::EFS::FileSystem
    Properties:
      FileSystemTags:
        - Key: Name
          Value: { "Fn::GetOptionSetting" : { "OptionName" : "EfsFileSystemName" } }

  EfsMountTargetSecurityGroup:
    Type: AWS::EC2::SecurityGroup
    Properties:
      GroupDescription: "EFS Mount Target Security Group"
      SecurityGroupIngress:
        - FromPort: 2049
          IpProtocol: "tcp"
          SourceSecurityGroupId: { "Fn::GetAtt" : ["AWSEBSecurityGroup", "GroupId"] }
          ToPort: 2049
      VpcId: { "Fn::GetOptionSetting" : { "OptionName" : "EfsMountTargetSecurityGroupVpcId" } }



# Apache License 2.0
# see also: https://github.com/awslabs/elastic-beanstalk-docs/blob/master/configuration-files/aws-provided/instance-configuration/storage-efs-createfilesystem.config
