option_settings:
  aws:elasticbeanstalk:application:environment:
    EFS_FILE_SYSTEM_ID: '`{ "Ref" : "EfsFileSystem" }`'
    EFS_MOUNT_DIR: '`{ "Fn::GetOptionSetting" : { "OptionName" : "EfsMountDir" } }`'
    REGION: '`{ "Ref" : "AWS::Region" }`'

packages:
  yum:
    jq: []
    nfs-utils: []

commands:
  022_001_efs-mount:
    command: "/tmp/efs-mount.sh"

files:
  "/tmp/efs-mount.sh":
    mode: "000755"
    content: |
      #!/usr/bin/env sh
      EFS_FILE_SYSTEM_ID="$(/opt/elasticbeanstalk/bin/get-config environment | jq -r ".EFS_FILE_SYSTEM_ID")"
      EFS_MOUNT_DIR="$(/opt/elasticbeanstalk/bin/get-config environment | jq -r ".EFS_MOUNT_DIR")"
      REGION="$(/opt/elasticbeanstalk/bin/get-config environment | jq -r ".REGION")"

      echo "mounting efs file system"

      echo "checking rpcidmapd"
      service rpcidmapd status
      if [ $? -eq 0 ]; then
          echo "stopping rpcidmapd"
          service rpcidmapd stop
          if [ $? -ne 0 ]; then
              echo "ERROR: stopping rpcidmapd failed" 1>&2
              exit 1
          fi
      else
          echo "rpcidmapd already stopped"
      fi

      echo "checking efs mount dir (${EFS_MOUNT_DIR})"
      if [ ! -d "${EFS_MOUNT_DIR}" ]; then
          echo "creating efs mount dir (${EFS_MOUNT_DIR})"
          mkdir -p "${EFS_MOUNT_DIR}"
          if [ $? -ne 0 ]; then
              echo "ERROR: creating efs mount dir (${EFS_MOUNT_DIR}) failed" 1>&2
              exit 1
          fi
      else
          echo "efs mount dir (${EFS_MOUNT_DIR}) already exists"
      fi

      echo "checking efs mount"
      mountpoint -q "${EFS_MOUNT_DIR}"
      if [ $? -ne 0 ]; then
          echo "mounting efs"
          # see also: http://docs.aws.amazon.com/efs/latest/ug/mounting-fs-mount-cmd-general.html
          echo "mount -t nfs4 -o nfsvers=4.1,rsize=1048576,wsize=1048576,hard,timeo=600,retrans=2 \"${EFS_FILE_SYSTEM_ID}.efs.${REGION}.amazonaws.com:/\" \"${EFS_MOUNT_DIR}\""
                mount -t nfs4 -o nfsvers=4.1,rsize=1048576,wsize=1048576,hard,timeo=600,retrans=2  "${EFS_FILE_SYSTEM_ID}.efs.${REGION}.amazonaws.com:/"   "${EFS_MOUNT_DIR}"
          if [ $? -ne 0 ]; then
              echo "ERROR: mounting efs failed" 1>&2
              exit 1
          fi

          echo "checking permissions"
          chmod 0777 "${EFS_MOUNT_DIR}"
          runuser -l ec2-user -c "touch \"${EFS_MOUNT_DIR}/.test\""
          if [ $? -ne 0 ]; then
              echo "ERROR: checking permissions failed" 1>&2
              exit 1
          else
              runuser -l ec2-user -c "rm \"${EFS_MOUNT_DIR}/.test\""
          fi
      else
          echo "efs already mounted"
      fi

      echo "mounting efs file system successfully completed"



# Apache License 2.0
# see also: https://github.com/awslabs/elastic-beanstalk-docs/blob/master/configuration-files/aws-provided/instance-configuration/storage-efs-mountfilesystem.config
